.film-card {
    width: 454px;
    min-width: 330px;
    height: 281px;
    box-shadow: 4px 4px 11px -1px rgba(34, 60, 80, 0.2);
    display: flex;
    padding-right: 6px;
    overflow: hidden;
}

.film-card__info {
    position: relative;
    margin-left: 20px;
    padding-top: 12px;
}

.film-card__title {
    padding-right: 30px;
}

.film-card__mark {
    display: flex;
    position: absolute;
    top: 12px;
    right: 0;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 3px solid #000000;
    border-radius: 50%;
    font-weight: bold;
}

.film-card__mark--low {
    border: 3px solid #E90000;
}

.film-card__mark--middle {
    border: 3px solid #E97E00;
}

.film-card__mark--high {
    border: 3px solid #E9D100;
}

.film-card__mark--top {
    border: 3px solid #66E900;
}

.film-card__genre {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    margin: 0;
    padding: 0;
    list-style: none;
}

.film-card__genre-item {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 1px 3px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.film-card__annotation {
    margin: 0;
    padding-right: 14px;
}

.film-card__release {
    min-height: 24px;
}

.film-card__poster-img {
    width: 187px;
}

@media screen and (max-width: 995px) {
  .film-card {
    width: 100%;
  }
}

@media screen and (max-width: 421px) {
    .film-card__poster-img {
      position: absolute;
        width: 60px;
        height: 91px;
    }
    .film-card__info {
      margin-left: 0;
    }
    .film-card__title,
    .film-card__release,
    .film-card__genre {
      margin-left: 73px;
    }
}
