.app {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  min-width: 420px;
  max-width: 1010px;
  min-height: 100vh;
  padding: 20px 35px 10px;
}

.ant-alert {
  margin-top: 20px;
  border: 5px solid darkgreen;
}

.ant-alert .ant-alert-message {
  font-size: 24px;
  font-weight: bold;
}

.ant-alert .ant-alert-description {
  font-size: 20px;
  font-style: italic;
  font-weight: bolder;
}

.ant-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

.ant-spin .ant-spin-dot {
  font-size: 110px;
}

.ant-spin-text {
  margin-top: 20px;
}

.ant-pagination {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 480px) {
  .app {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 421px) {
  .app {
    padding-left: 16px;
    padding-right: 16px;
  }
}
