html,
body,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color:  #E5E5E5;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  line-height: 22px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
